body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(#000046, #1cb5e0);
}

.bg-image-vertical {
    position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 50%;
}

.container-fluid {
    margin-top: 5%;
    width: 75%;
    height: 75%;
}

.row {
    border-radius: 8px;
    background-color: white;
    border: white 8px outset;
}

.img_login {
    margin-left: 0%;
    margin-top: 20%;
    max-width: 70%;
    max-height: 70%;
    background-position: right;
}

.tabla {
    margin-left: 5%;
    margin-right: 5%;
}

.botones {
    margin-left: 10%;
}

.pagination {
    margin-left: 43%;
    margin-top: 2%;
}

th {
    margin: 2px;
}

.tbl_propidades {
    width: 80%;
    margin-left: 10%;
    background-color: rgb(138, 138, 138);
}

#NumRegistros {
    background-color: rgb(101, 203, 226);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#FormularioCorreo {
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    margin-top: 5%;
    border-radius: 2%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.searchmargen {
    margin-right: 10px;
    color: white
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

.menu {
    color: black;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 8%;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}


/* FORM TYPOGRAPHY*/

.estilo,
.enviarmail,
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.estilo:hover,
.enviarmail:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #39ace7;
}

.estilo:active,
.enviarmail:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
    color: #cccccc;
}

input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=password]:placeholder {
    color: #cccccc;
}


/* ANIMATIONS */


/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    transform: rotate()
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}


/* FIN LOGIN */

.menu20 {
    width: 10%;
    float: left;
}

.menu80 {
    width: 90%;
    float: left;
}

.menu100 {
    width: 100%;
    float: left;
}


/* Enviar Correo */

.description {
    color: white;
}


/* botton */


/* .btn {
    border: none;
    background: none;
} */

.borrar {
    border: none;
    background: none;
}

.perfil {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 2%;
    background-color: white;
    color: black;
    height: 40%;
    width: 50%;
}

.FotoPerfil {
    border-radius: 50%;
    margin-top: 6%;
    margin-left: 4%;
    width: 100%;
}

.FotoPerfil1 {
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 4%;
    width: 100%;
}

.datos {
    margin-left: 50%;
    font-style: Courier;
    font-weight: bold;
    margin-top: 4%;
}

.datos1 {
    margin-left: 40%;
    font-style: Courier;
}

.datos2 {
    margin-left: 25%;
}

.datos3 {
    margin-top: 20%;
    margin-left: 25%;
    font-style: Courier;
    font-weight: bold;
}

.Fondo_Perfil {
    border-radius: 2%;
}

.parte1 {
    background-color: none;
    float: left;
    width: 35%;
    height: 100%;
    border-radius: 2%;
}

.parte2 {
    float: left;
    width: 30%;
    background-color: none;
}

.parte3 {
    float: left;
    width: 30%;
    background-color: none;
}

.campos1 {
    /* background: linear-gradient(-45deg, #ee7752, #943ce7, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite; */
    /*---------------FONDO-CAMBIO-DE-COLOR-----------------*/
    background: linear-gradient(90deg, #b3e4f6, #ded677, #f4d897, #e8a0a0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 6%;
    height: 100%;
    width: 45%;
    display: table;
    margin-top: 5%;
    margin-left: 25%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    ;
}

.CamposTabla {
    height: 20%;
    background-color: green;
}


/* Menu tabla principal */

@media only screen and (max-width: 700px) {
    .menu20 {
        width: 100%;
    }
    .menu80 {
        width: 100%;
        padding: 0%;
        padding-left: 2.5%;
    }
    .menuRes {
        width: 25%;
        float: left;
    }
    .enviarmail {
        padding: 5% 10%;
    }
    .padres {
        text-align: center;
    }
    table {
        font-size: 10px;
    }
    .tbl_propidades {
        margin-left: 0%;
    }
    tr td {
        padding: 0;
    }
}


/* Menu crear Alumno mno*/

@media only screen and (max-width: 700px) {
    .appnitro {
        width: 100%;
    }
    .barranav {
        width: 100%;
    }
    .datos {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}


/* mostrar de Alumnos */

@media only screen and (max-width: 700px) {
    .tbl_propidades {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* ver el contenido de alumnos y profesores */

@media only screen and (max-width: 700px) {
    .campos1 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}